WebApplication1/Service References/CartService/CartAppService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CartApp.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CartApp.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ProductDescriptions" nillable="true" type="tns:ArrayOfProductDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfProductDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDescription" nillable="true" type="tns:ProductDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDescription" nillable="true" type="tns:ArrayOfProductDescription" />
  <xs:complexType name="ProductDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Brand1" nillable="true" type="tns:Brand" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Category1" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Color1" nillable="true" type="tns:Color" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerType" nillable="true" type="tns:CustomerType" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductDescription1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Size1" nillable="true" type="tns:Size" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDescription" nillable="true" type="tns:ProductDescription" />
  <xs:complexType name="Brand">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrandDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ProductDescriptions" nillable="true" type="tns:ArrayOfProductDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Brand" nillable="true" type="tns:Brand" />
  <xs:complexType name="Color">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ProductDescriptions" nillable="true" type="tns:ArrayOfProductDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Color" nillable="true" type="tns:Color" />
  <xs:complexType name="CustomerType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerType1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ProductDescriptions" nillable="true" type="tns:ArrayOfProductDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerType" nillable="true" type="tns:CustomerType" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsSold" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="tns:ProductDescription" />
      <xs:element minOccurs="0" name="ProductDetailId" type="xs:int" />
      <xs:element minOccurs="0" name="SoldDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StockInDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="Size">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ProductDescriptions" nillable="true" type="tns:ArrayOfProductDescription" />
      <xs:element minOccurs="0" name="SizeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SizeNumber" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Size" nillable="true" type="tns:Size" />
</xs:schema>